/* TODOS LOS HTML --------------------------------------------------------*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
    background-image: url("../img/fondoo.jpg");
    background-repeat: repeat;
    background-size: 100%;  
    
}
.bg-propio{
    background-color: rgb(247, 246, 240);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    
}
.navbar-nav a{
    font-size: 28px;
    font-weight: 600; 
}
.navbar-nav a:hover{
    color:rgb(223, 202, 109)!important;   
}

h2{
    color: rgb(228, 191, 68);
    display: flex;
    justify-content: center;
}

/* Grids footer */

footer{
    background-color: rgba(218, 190, 96, 0.5); 
    display: grid;
    grid-template-areas: 
    "redes-sociales"
    "parrafo";
    justify-content: center;
    padding: 1rem;
    margin: 0;
}
.parrafoFooter{
    font-size: 1rem;
    font-weight: bold;
    grid-area: parrafo;
}
.redes{
    display:flex;
    justify-content: center;
    gap: 1rem;
    grid-area: redes-sociales;
}
.footerFondoNoFijo{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.figure {
    border: 2px outset rgb(228, 191, 68);
}


/* index --------------------------------------------------------*/

.mainInicio{
    margin-top: 5%;
    background-color: white;
    display: grid;
    grid-template-areas: 
    "foto-portada1"
    "fotos-vender"
    "precios"
    "foto-portada2"
    ;
}
.foto-inicio{
    
    grid-area: foto-portada1;
} 
.foto-inicio img{
    height: 100%;
    width: 100%;
}
.foto-inicio2{
    grid-area: foto-portada2;
}
.foto-inicio2 img{
    height: 100%;
    width: 100%;
}
.prendas-inicio{
    grid-area: fotos-vender;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
}
.prendas-inicio img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.precios-inicio{
    grid-area: precios;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    font-weight: 600;
}
.precio1{
    justify-self: center
}

/* Productos --------------------------------------------------------*/

.mainProductos{
    margin-top: 7%;
    display: grid;
    
    justify-content: center;
    grid-template-areas:
    "buzos"
    "fotos-buzos"
    "remeras"
    "fotos-remeras"
    "gorras"
    "fotos-gorras";
}
.productos1{
    background-color: rgba(218, 190, 96, 0.5);
    color: rgb(39, 39, 9);
    border: 2px outset rgb(228, 191, 68);
    grid-area: buzos;
}
.productos2{
    background-color: rgba(218, 190, 96, 0.5);
    color: rgb(39, 39, 9);
    border: 2px outset rgb(228, 191, 68);
    grid-area: remeras;
}
.productos3{
    background-color: rgba(218, 190, 96, 0.5);
    color: rgb(39, 39, 9);
    border: 2px outset rgb(228, 191, 68);
    grid-area: gorras;
}  
.fotosproductos1{
    grid-area: fotos-buzos; 
    display: grid;
    grid-template-columns: 0.7fr 0.7fr 0.7fr;
}
.fotosproductos2{
    grid-area: fotos-remeras; 
    display: grid;
    grid-template-columns: 0.7fr 0.7fr 0.7fr;
}
.fotosproductos3{
    grid-area: fotos-gorras; 
    display:grid;
    grid-template-columns: 0.7fr 0.7fr 0.7fr;              
}
.fotosproductos1 img, .fotosproductos2 img, .fotosproductos3 img{
    width: 100%;
    height: 100%;
}
.fotosproductos1 img:hover{
    transform: scale(1.2);
}
.fotosproductos2 img:hover{
    transform: scale(1.2);
}
.fotosproductos3 img:hover{
    transform: scale(1.2);
}

/* Clientes --------------------------------------------------------*/

.mainClientes{
    margin-top: 7%;
    justify-content: center;
    display: grid;
    grid-template-areas: 
    "titulo-clientes"
    "fotos-clientes";
}
.titulo-clientes{
    background-color: rgba(218, 190, 96, 0.5);
    color: rgb(39, 39, 9);
    border: 2px outset rgb(228, 191, 68);
    grid-area: titulo-clientes;
}
.fotosclientes{

    grid-area: fotos-clientes;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.fotosclientes img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* Contacto --------------------------------------------------------*/

.mainContacto{
    margin-top: 7%;
    display: grid;
    grid-template-areas: 
    "titulo-contacto"
    "parrafo-contacto"
    "datos"
    ;
}
.titulo-contacto{
    grid-area: titulo-contacto;
    border: 2px outset rgb(228, 191, 68);
    background-color: rgb(218, 190, 96);
    color: rgb(255, 245, 233);
}
.parrafo-contacto{
    display: flex;
    justify-content: center;
    grid-area: parrafo-contacto;
}
.datos{
    display: flex;
    justify-content: center;
    grid-area: datos;
}
.botoncontacto{
    color: rgb(228, 191, 68);
}


/* Nosotros --------------------------------------------------------*/


.mainNosotros{
    margin-top: 3%;
    text-align: center;
    padding: 65px;
    font-size: 28px;
    font-weight: 900; 
    display: grid;
    grid-template-areas: 
    "parrafo-nosotros1"
    "parrafo-nosotros2"
    "parrafo-nosotros3"
    "parrafo-nosotros4"
    "parrafo-nosotros5"
    "parrafo-nosotros6"
    ; 
}
.parrafo-nosotros1{
    grid-area: parrafo-nosotros1;
}
.parrafo-nosotros2{
    grid-area: parrafo-nosotros2;
}
.parrafo-nosotros3{
    grid-area: parrafo-nosotros3;
}
.parrafo-nosotros4{
    grid-area: parrafo-nosotros4;
}
.parrafo-nosotros5{
    grid-area: parrafo-nosotros5;
}
.parrafo-nosotros6{
    grid-area: parrafo-nosotros6;
}




@media(max-width:1400px){
    .mainInicio{
        margin-top: 6%;
    }
    .mainProductos{
        margin-top: 8%;
    }
    .mainClientes{
        margin-top: 8%;
    }
    .mainContacto{
        margin-top: 8%;
    }
    .mainNosotros{
        margin-top: 4%;
    }

}
@media(max-width:1200px){
    .mainInicio{
        margin-top: 8%;
    }
    .mainProductos{
        margin-top: 9%;
    }
    .mainClientes{
        margin-top: 9%;
    }
    .mainContacto{
        margin-top: 9%;
    }
    .mainNosotros{
        margin-top: 4%;
    }

}
@media(max-width:992px){
    .mainInicio{
        margin-top: 10%;
    }
    .mainProductos{
        margin-top: 12%;
    }
    .mainClientes{
        margin-top: 12%;
    }
    .mainContacto{
        margin-top: 12%;
    }
    .mainNosotros{
        margin-top: 4%;
    }

}
@media(max-width:768px){
    .mainInicio{
        margin-top: 10%;
    }
    .mainProductos{
        margin-top: 18%;
    }
    .mainClientes{
        margin-top: 15%;
    }
    .mainContacto{
        margin-top: 15%;
    }
    .mainNosotros{
        margin-top: 6%;
    }

}

/* Mobile first  media queries*/
/* Smartphone */
@media(max-width:480px){
    .navbar-nav a{
        font-size: 18px;
        font-weight: 400; 
    }
    .mainInicio{
        margin-top: 20%;
    }
    .mainProductos{
        margin-top: 25%;
    }
    .mainClientes{
        margin-top: 20%;
    }
    .mainContacto{
        margin-top: 25%;
    }
    .mainNosotros{
        margin-top: 6%;
    }
    .prendas-inicio{
        grid-template-columns: none;
    }
    .fotosproductos1{
        grid-template-columns: none;
    }
    .fotosproductos2{
        grid-template-columns: none;
    }
    .fotosproductos3{
        grid-template-columns: none;
    }
    .fotosclientes{
        grid-template-columns: none;
    }
    .footerFondoNoFijo{
        position:relative;
    }
    footer{
        height: 80px;
    }   
}

