/* Import ----------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-image: url("../img/fondoo.jpg");
  background-repeat: repeat;
  background-size: 100%;
  /* footer */
}
body h2 {
  color: rgb(228, 191, 68);
  display: flex;
  justify-content: center;
}
body .figure {
  border: 1px outset rgb(228, 191, 68);
}
body footer {
  background-color: rgba(218, 190, 96, 0.5);
  display: grid;
  grid-template-areas: "redes-sociales" "parrafo";
  gap: 0.5rem;
  justify-content: center;
  padding: 0.5rem;
  margin: 0;
}
body footer .redes {
  display: flex;
  justify-content: center;
  gap: 1rem;
  grid-area: redes-sociales;
}
body footer .parrafoFooter {
  margin-bottom: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  grid-area: parrafo;
}
body .footerFondoNoFijo {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* map */
.titulo-buzos {
  background-color: rgba(218, 190, 96, 0.5);
}

.titulo-remeras {
  background-color: rgba(218, 190, 96, 0.5);
}

.titulo-gorras {
  background-color: rgba(218, 190, 96, 0.5);
}

/* map-get */
.precio1 {
  display: flex;
  justify-content: center;
  font-weight: 1000;
  background-color: rgba(247, 246, 240, 0.719);
}

/* Extend */
.titulo, .titulo-gorras, .titulo-remeras, .titulo-buzos {
  color: #121212;
  border: 2px outset rgb(228, 191, 68);
}

.fotosproductos, .fotosproductos3, .fotosproductos2, .fotosproductos1 {
  gap: 0.5rem;
  display: grid;
  grid-template-columns: 0.7fr 0.7fr 0.7fr;
}

/* mixin */
.foto-inicio img {
  height: 100%;
  width: 100%;
}

.foto-inicio2 img {
  height: 100%;
  width: 100%;
}

.prendas-inicio img {
  height: 100%;
  width: 100%;
}

/* BOOSTRAP --------------------------------------------------------*/
.bg-propio {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbar-nav a {
  font-size: 28px;
  font-weight: 600;
}
.navbar-nav a:hover {
  color: rgb(228, 191, 68) !important;
}

/* index --------------------------------------------------------*/
.mainInicio {
  margin-top: 5%;
  background-color: white;
  display: grid;
  grid-template-areas: "foto-portada2" "fotos-vender" "foto-portada1";
  gap: 1rem;
}

.foto-inicio {
  grid-area: foto-portada1;
}

.foto-inicio2 {
  grid-area: foto-portada2;
}

.prendas-inicio {
  padding: 1% 15% 0 15%;
  gap: 3rem;
  grid-area: fotos-vender;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
}
.prendas-inicio img {
  -o-object-fit: cover;
     object-fit: cover;
}

/* Productos --------------------------------------------------------*/
.mainProductos {
  padding: 0 8% 3% 8%;
  margin-top: 8%;
  display: grid;
  gap: 2rem;
  justify-content: center;
  grid-template-areas: "buzos" "fotos-buzos" "remeras" "fotos-remeras" "gorras" "fotos-gorras";
}
.mainProductos .titulo-buzos {
  grid-area: buzos;
}
.mainProductos .titulo-remeras {
  grid-area: remeras;
}
.mainProductos .titulo-gorras {
  grid-area: gorras;
}
.mainProductos .fotosproductos1 {
  grid-area: fotos-buzos;
  gap: 1rem;
}
.mainProductos .fotosproductos1 img {
  width: 100%;
  height: 100%;
}
.mainProductos .fotosproductos1 img:hover {
  transform: scale(1.2);
}
.mainProductos .fotosproductos2 {
  grid-area: fotos-remeras;
  gap: 1rem;
}
.mainProductos .fotosproductos2 img {
  width: 100%;
  height: 100%;
}
.mainProductos .fotosproductos2 img:hover {
  transform: scale(1.2);
}
.mainProductos .fotosproductos3 {
  grid-area: fotos-gorras;
  gap: 1rem;
}
.mainProductos .fotosproductos3 img {
  width: 100%;
  height: 100%;
}
.mainProductos .fotosproductos3 img:hover {
  transform: scale(1.2);
}

/* Clientes --------------------------------------------------------*/
.mainClientes {
  margin-top: 8%;
  padding: 0 8% 3% 8%;
  justify-content: center;
  gap: 3rem;
  display: grid;
  grid-template-areas: "titulo-clientes" "fotos-clientes";
}
.mainClientes .titulo-clientes {
  background-color: rgba(218, 190, 96, 0.5);
  color: #121212;
  border: 2px outset rgb(228, 191, 68);
  grid-area: titulo-clientes;
}
.mainClientes .fotosclientes {
  grid-area: fotos-clientes;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 0.5fr;
}
.mainClientes .fotosclientes img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Contacto --------------------------------------------------------*/
.mainContacto {
  margin-top: 7%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(253, 250, 237, 0.685);
}
.mainContacto .contacto_derecha {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 7.3% 0 4.7%;
  width: 50%;
}
.mainContacto .contacto-titulo {
  font-size: 100px;
  font-weight: 400;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.mainContacto .contacto_form-wrapper, .mainContacto .contacto_input-line {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.mainContacto .contacto_input-line {
  margin-bottom: 18px;
}
.mainContacto .contacto_label {
  font-size: 18px;
  font-weight: 600;
}
.mainContacto .contacto_input {
  height: 30px;
  outline: none;
  padding: 5px 0;
  border-bottom: 2px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  color: #121212;
  background-color: transparent;
}
.mainContacto .contacto_input--textarea {
  height: 100px;
  outline: none;
  padding: 5px 0;
  border-bottom: 2px solid #121212;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  color: #121212;
  background-color: transparent;
  resize: none;
}
.mainContacto .contacto_submit-button {
  padding: 18px 55px;
  background-color: #121212;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.mainContacto .contacto_submit-button:hover {
  background-color: #121212;
}

/* Nosotros --------------------------------------------------------*/
.mainNosotros {
  background-color: rgb(247, 246, 226);
  margin-top: 3%;
  text-align: center;
  padding: 65px;
  font-size: 28px;
  font-weight: 900;
  display: grid;
  grid-template-areas: "titulo" "parrafo-nosotros1" "parrafo-nosotros2" "parrafo-nosotros3" "parrafo-nosotros4" "parrafo-nosotros5" "parrafo-nosotros6";
}
.mainNosotros .historia-drewhouse {
  grid-area: titulo;
  color: rgb(228, 191, 68);
}
.mainNosotros .parrafo-nosotros1 {
  grid-area: parrafo-nosotros1;
}
.mainNosotros .parrafo-nosotros2 {
  grid-area: parrafo-nosotros2;
}
.mainNosotros .parrafo-nosotros3 {
  grid-area: parrafo-nosotros3;
}
.mainNosotros .parrafo-nosotros4 {
  grid-area: parrafo-nosotros4;
}
.mainNosotros .parrafo-nosotros5 {
  grid-area: parrafo-nosotros5;
}
.mainNosotros .parrafo-nosotros6 {
  grid-area: parrafo-nosotros6;
}

/* media de diferentes medidas */
@media (max-width: 1400px) {
  .mainInicio {
    margin-top: 6%;
  }
  .mainProductos {
    margin-top: 9%;
  }
  .mainClientes {
    margin-top: 10%;
  }
  .mainContacto {
    margin-top: 12%;
  }
  .mainNosotros {
    margin-top: 4%;
  }
}
@media (max-width: 1200px) {
  .mainInicio {
    margin-top: 8%;
  }
  .mainProductos {
    margin-top: 11%;
  }
  .mainClientes {
    margin-top: 12%;
  }
  .mainContacto {
    margin-top: 12%;
  }
  .mainNosotros {
    margin-top: 4%;
  }
}
@media (max-width: 992px) {
  .mainInicio {
    margin-top: 10%;
  }
  .mainProductos {
    margin-top: 14%;
  }
  .mainClientes {
    margin-top: 15%;
  }
  .mainContacto {
    margin-top: 14%;
  }
  .mainNosotros {
    margin-top: 6%;
  }
}
@media (max-width: 768px) {
  .mainInicio {
    margin-top: 10%;
  }
  .mainProductos {
    margin-top: 19%;
  }
  .mainClientes {
    margin-top: 20%;
  }
  .mainContacto {
    margin-top: 20%;
  }
  .mainNosotros {
    margin-top: 7%;
  }
}
/* Mobile first  media queries*/
/* Smartphone */
@media (max-width: 480px) {
  .navbar-nav a {
    font-size: 18px;
    font-weight: 400;
  }
  .mainInicio {
    margin-top: 20%;
  }
  .mainProductos {
    margin-top: 32%;
  }
  .mainClientes {
    margin-top: 31%;
  }
  .mainContacto {
    margin-top: 30%;
  }
  .mainNosotros {
    margin-top: 12%;
  }
  .prendas-inicio {
    grid-template-columns: none;
    padding: 1% 20% 0 20%;
    gap: 1rem;
  }
  .fotosproductos1 {
    grid-template-columns: none;
    padding: 0 8% 3% 8%;
  }
  .fotosproductos2 {
    grid-template-columns: none;
    padding: 0 8% 3% 8%;
  }
  .fotosproductos3 {
    grid-template-columns: none;
    padding: 0 8% 3% 8%;
  }
  .fotosclientes {
    padding: 0 8% 3% 8%;
  }
  .footerFondoNoFijo {
    position: relative;
  }
  footer {
    height: 80px;
  }
}/*# sourceMappingURL=main.css.map */