/* Import ----------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-image: url("../img/fondoo.jpg");
  background-repeat: repeat;
  background-size: 100%;
  /* footer */
}
body h2 {
  color: rgb(228, 191, 68);
  display: flex;
  justify-content: center;
}
body .figure {
  border: 1px outset rgb(228, 191, 68);
}
body footer {
  background-color: rgba(218, 190, 96, 0.5);
  display: grid;
  grid-template-areas: "redes-sociales" "parrafo";
  justify-content: center;
  padding: 1rem;
  margin: 0;
}
body footer .redes {
  display: flex;
  justify-content: center;
  gap: 1rem;
  grid-area: redes-sociales;
}
body footer .parrafoFooter {
  font-size: 1rem;
  font-weight: bold;
  grid-area: parrafo;
}
body .footerFondoNoFijo {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Clientes --------------------------------------------------------*/
.mainClientes {
  margin-top: 7%;
  justify-content: center;
  display: grid;
  grid-template-areas: "titulo-clientes" "fotos-clientes";
}
.mainClientes .titulo-clientes {
  background-color: rgba(218, 190, 96, 0.5);
  color: #121212;
  border: 2px outset rgb(228, 191, 68);
  grid-area: titulo-clientes;
}
.mainClientes .fotosclientes {
  grid-area: fotos-clientes;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.mainClientes .fotosclientes img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* BOOSTRAP --------------------------------------------------------*/
.bg-propio {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbar-nav a {
  font-size: 28px;
  font-weight: 600;
}
.navbar-nav a:hover {
  color: rgb(228, 191, 68) !important;
}

/* index --------------------------------------------------------*/
.mainInicio {
  margin-top: 5%;
  background-color: white;
  display: grid;
  grid-template-areas: "foto-portada1" "fotos-vender" "foto-portada2";
  gap: 1rem;
}

.foto-inicio {
  grid-area: foto-portada1;
}

.foto-inicio img {
  height: 100%;
  width: 100%;
}

.foto-inicio2 {
  grid-area: foto-portada2;
}

.foto-inicio2 img {
  height: 100%;
  width: 100%;
}

.prendas-inicio {
  gap: 0.5rem;
  grid-area: fotos-vender;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
}

.prendas-inicio img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.precio1 {
  display: flex;
  justify-content: center;
  font-weight: 600;
  background-color: rgba(247, 246, 240, 0.384);
}

/* Productos --------------------------------------------------------*/
.mainProductos {
  padding: 1%;
  margin-top: 7%;
  display: grid;
  gap: 1rem;
  justify-content: center;
  grid-template-areas: "buzos" "fotos-buzos" "remeras" "fotos-remeras" "gorras" "fotos-gorras";
}

.productos1 {
  background-color: rgba(218, 190, 96, 0.5);
  color: #121212;
  border: 2px outset rgb(228, 191, 68);
  grid-area: buzos;
}

.productos2 {
  background-color: rgba(218, 190, 96, 0.5);
  color: #121212;
  border: 2px outset rgb(228, 191, 68);
  grid-area: remeras;
}

.productos3 {
  background-color: rgba(218, 190, 96, 0.5);
  color: #121212;
  border: 2px outset rgb(228, 191, 68);
  grid-area: gorras;
}

.fotosproductos1 {
  gap: 0.5rem;
  grid-area: fotos-buzos;
  display: grid;
  grid-template-columns: 0.7fr 0.7fr 0.7fr;
}
.fotosproductos1 img {
  width: 100%;
  height: 100%;
}
.fotosproductos1 img:hover {
  transform: scale(1.2);
}

.fotosproductos2 {
  gap: 0.5rem;
  grid-area: fotos-remeras;
  display: grid;
  grid-template-columns: 0.7fr 0.7fr 0.7fr;
}
.fotosproductos2 img {
  width: 100%;
  height: 100%;
}
.fotosproductos2 img:hover {
  transform: scale(1.2);
}

.fotosproductos3 {
  gap: 0.5rem;
  grid-area: fotos-gorras;
  display: grid;
  grid-template-columns: 0.7fr 0.7fr 0.7fr;
}
.fotosproductos3 img {
  width: 100%;
  height: 100%;
}
.fotosproductos3 img:hover {
  transform: scale(1.2);
}

/* Contacto --------------------------------------------------------*/
.mainContacto {
  margin-top: 7%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.contacto_derecha {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 7.3% 0 4.7%;
  width: 50%;
}

.contacto-titulo {
  font-size: 100px;
  font-weight: 400;
  margin-bottom: 70px;
  text-transform: uppercase;
}

.contacto_form-wrapper, .contacto_input-line {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.contacto_input-line {
  margin-bottom: 18px;
}

.contacto_label {
  font-size: 18px;
  font-weight: 600;
}

.contacto_input {
  height: 30px;
  outline: none;
  padding: 5px 0;
  border-bottom: 2px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  color: #121212;
  background-color: transparent;
}

.contacto_input--textarea {
  height: 100px;
  outline: none;
  padding: 5px 0;
  border-bottom: 2px solid #121212;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  color: #121212;
  background-color: transparent;
  resize: none;
}

.contacto_submit-button {
  padding: 18px 55px;
  background-color: #121212;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.contacto_submit-button:hover {
  background-color: #121212;
}

/* Nosotros --------------------------------------------------------*/
.mainNosotros {
  margin-top: 3%;
  text-align: center;
  padding: 65px;
  font-size: 28px;
  font-weight: 900;
  display: grid;
  grid-template-areas: "parrafo-nosotros1" "parrafo-nosotros2" "parrafo-nosotros3" "parrafo-nosotros4" "parrafo-nosotros5" "parrafo-nosotros6";
}

.parrafo-nosotros1 {
  grid-area: parrafo-nosotros1;
}

.parrafo-nosotros2 {
  grid-area: parrafo-nosotros2;
}

.parrafo-nosotros3 {
  grid-area: parrafo-nosotros3;
}

.parrafo-nosotros4 {
  grid-area: parrafo-nosotros4;
}

.parrafo-nosotros5 {
  grid-area: parrafo-nosotros5;
}

.parrafo-nosotros6 {
  grid-area: parrafo-nosotros6;
}

@media (max-width: 1400px) {
  .mainInicio {
    margin-top: 6%;
  }

  .mainProductos {
    margin-top: 8%;
  }

  .mainClientes {
    margin-top: 8%;
  }

  .mainContacto {
    margin-top: 8%;
  }

  .mainNosotros {
    margin-top: 4%;
  }
}
@media (max-width: 1200px) {
  .mainInicio {
    margin-top: 8%;
  }

  .mainProductos {
    margin-top: 9%;
  }

  .mainClientes {
    margin-top: 9%;
  }

  .mainContacto {
    margin-top: 9%;
  }

  .mainNosotros {
    margin-top: 4%;
  }
}
@media (max-width: 992px) {
  .mainInicio {
    margin-top: 10%;
  }

  .mainProductos {
    margin-top: 12%;
  }

  .mainClientes {
    margin-top: 12%;
  }

  .mainContacto {
    margin-top: 12%;
  }

  .mainNosotros {
    margin-top: 4%;
  }
}
@media (max-width: 768px) {
  .mainInicio {
    margin-top: 10%;
  }

  .mainProductos {
    margin-top: 18%;
  }

  .mainClientes {
    margin-top: 15%;
  }

  .mainContacto {
    margin-top: 15%;
  }

  .mainNosotros {
    margin-top: 6%;
  }
}
/* Mobile first  media queries*/
/* Smartphone */
@media (max-width: 480px) {
  .navbar-nav a {
    font-size: 18px;
    font-weight: 400;
  }

  .mainInicio {
    margin-top: 20%;
  }

  .mainProductos {
    margin-top: 25%;
  }

  .mainClientes {
    margin-top: 20%;
  }

  .mainContacto {
    margin-top: 25%;
  }

  .mainNosotros {
    margin-top: 6%;
  }

  .prendas-inicio {
    grid-template-columns: none;
  }

  .fotosproductos1 {
    grid-template-columns: none;
  }

  .fotosproductos2 {
    grid-template-columns: none;
  }

  .fotosproductos3 {
    grid-template-columns: none;
  }

  .fotosclientes {
    grid-template-columns: none;
  }

  .footerFondoNoFijo {
    position: relative;
  }

  footer {
    height: 80px;
  }
}/*# sourceMappingURL=main.css.map */